.header{
    height:80px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    margin: 0px auto;
    width: 110px;
    height: 80px;
}

.nav-items{
    height:60px;
    padding: 0px 20px;
}

.nav-items > ul{
    display: flex;
    font-size:20px;
    list-style-type: none;
    margin:6px 0px auto auto;
}

.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
}

.under{
    text-decoration: none;
    color: black;
}

.under-card{
    text-decoration: none;
    color: black;
}

.filter{
    padding: 10px;
    display: flex;
}

.res-container{
    display: flex;
    flex-wrap: wrap ;
}

.res-card{
    margin: 10px;
    padding: 6px;
    background-color: #f0f0f0;
    width: 180px;
}

.info *{
    margin: 4px;
}

.res-logo{
    width: 100%;
    height: 110px;
}

.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}

.filter-btn{
    margin: 10px;
    cursor: pointer;
}

.shimmer-search{
    margin: 22px;
    width: 150px;
    height: 20px;
    background-color: #f0f0f0;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap ;
}
.shimmer-card{
    width: 160px;
    height: 290px;
    margin: 10px;
    background-color: #f0f0f0;
}

.login{
    margin-top: 18px;
    cursor: pointer;
    height: 30px;
    border-radius: 10%;
}

.search{
    margin: 10px;
    cursor: pointer;
}